.title{
    color: #3f1f1f;    
    text-transform: uppercase;
}
.button{
    background-color: #3f1f1f;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
    margin-top: 25px;
    transition: background-color 0.3s ease;
}
.button:hover{
    background-color: #300202;
}